%h1 Welcome to Beer &amp;&amp; Code Omaha
#content_text
  %p
    Beer &amp;&amp; Code is a time for programmers to either socialize about programming or actually program &mdash; while having a tasty drink. 
    Preferably both. But some people can’t do both.
  %p
    If you don’t drink alcohol, no problem: most places have non-alcoholic beer, root beer, soda, etc.
  %p
    Beer &amp;&amp; Code is intended to be half “meetup” and half “co-work” session. Whether you socialize or program during Beer &amp;&amp; Code, 
    expect to feel productive. If you bring something to work on, I encourage you to bring something that isn’t boring or something you do 
    for your day job. Bring something new and challenging.

  %h3 When?

  %p
    Roughly every two weeks.  Why not every other Tuesday?  Because we move it around to accommodate as many people as possible.  
    Every two weeks, we’ll pick a Tuesday, Wednesday or Thursday.  Someday we may slow down and do it once a month on a set date.
  
  %h3 Where?
  
  %p
    Pubs all across the Omaha, NE area.  Locations will be posted before the event on the site 
    %a{:href => "http://beerandcode.org"} here 
    and the twitter feed 
    %a{:href => "http://twitter.com/beercodeomaha"} here.
%ul#locations