!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf8"}
    %title Beer && Code Omaha
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}
    %link{:href => "/css/main.css", :type => "text/css", :rel => "stylesheet"}
    %script{:'data-main' => "js/bandc", :src => "js/require-jquery.js"}
  %body
    %header
      %a{:href => "/"}
        %img#logo{:src => "/img/beer_and_code_logo.png"}
    #content
      = yield
